<div class="card-body">
  <h3 class="card-title"><%= item.title %></h3>
  <p class="card-text text-left"><%= item.description %></p>
  <%= image_tag(item.image.url, {class: "img-thumbnail item-image"}) %>
  <!--<%= link_to "Back", items_path, :class => "btn btn-secondary" %> -->
</div>
