<div>
  <h1 style="float: left; left: 40%; position: relative"> FAQ </h1>
  <br>
  <br>
  <br>
  <p><%= t('faq1') %></p>
  <p><%= t('faq2') %></p>
  <p><%= t('faq3') %></p>
  <p><%= t('faq4') %></p>
</div>